{% extends 'forum/base.html' %}

{% block content %}
<div class="row">
    <div class="col s12">
        <div class="card green lighten-5 hoverable">
            <div class="card-content">
                <p class="card-title"><b>Posts by {{ userprofile }}</b></p>
            </div>
        </div>
        {% for post in posts %}
        <div class="card green lighten-5 hoverable">
            <div class="card-content">
                <a href="{% url 'forum:post' post.id %}" class="card-title black-text">{{ post.title }}</a>
                <br/>
                <small>{{ post.date_added }}</small>
            </div>
            <div class="card-action">
                <a class="green-text text-accent-4" href="{% url 'forum:post' post.id %}">Comments ({{ post.comment_set.count }})</a>
            </div>
        </div>
        {% empty %}
        <div class="card green lighten-5 hoverable">
            <div class="card-content">
                <p class="card-title">There are no posts to show!</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}